md-content {
    height: 100% !important;
}
md-toolbar {
    height: 80px !important;
}
body {
    background-color: #2e2d2c;
}
a {
    text-decoration: none;
    color: black;
}
.header {
    text-align: center;
    padding-top: 5pt;
    color: black;
    font-size: 18pt;
}
.footer {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 5pt;
    font-size: 11pt;
    line-height: 11pt;
}
.footer p {
    margin-top: 10px;
    margin-bottom: 5px;
}
.live-info {
    font-size: 11pt;
    margin-top: -20px;
}
.leaflet-div-icon {
    border: 0 !important;
    background: rgba(0, 0, 0, 0);
}
.new {
    color: rgba(255, 193, 7, 0.8) !important;
}
.live {
    color: rgba(21, 173, 249, 1) !important;
}
.leaflet-right {
    display: none;
}
